<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-16by9">
      <img src="/images/javascript30/javascript30.png" alt="javascript30 projects">
    </figure>
  </div>
  <div class="column">
  <h3 class="title">30-Day JavaScript Challenge</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> Vanilla JavaScript, HTML, CSS</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> 30 days, about an hour per project</h3>
    <h3><a href="https://github.com/Fa-v/javascript30" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-12">
    <p>I completed the 30-day vanilla JS challenge. It was really fun working on it. It’s helped me to strengthen basic concepts about interacting with the DOM without libraries, just plain JavaScript and CSS.</p>
    <br>
    <p>I remeber when I started to learn to code last summer, one of the first things that blew my mind was the DOM concept. I didn’t really understand how it was possible to access an element you see on the screen and modify it. It was like magic for me, sounds crazy doesn’t it?</p>
    <br>
    <p>Just before doing this 30-day challenge I took a MEAN stack course (MonogoDB, Express, Angular, Node) which was really demanding for me. Yes, I know, I was trying to run before learning to walk. After going through the complexity of Angular 2, comming back to the basics with these exercises unraveled a lot of things in my head.</p>
    <br>
    <p>There is no better way to learn to code than through building things, so it was rewarding to get to build a small but challenging project every day.</p>
    <br>
    <p>I’ve personilized some exercises just for fun, but the core concepts are the same as presented by Wes Bos. Here are some of the projects I enjoyed:</p>
    &nbsp     
    <h3 class="subtitle">Clock</h3>
      <p>A simple JavaScript clock, I was amazed at the simplicity of the code using the JavaScript Date instance.</p>
      &nbsp   
      <p data-height="265" data-theme-id="0" data-slug-hash="wddzVR" data-default-tab="css,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Clock" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/wddzVR/">Clock</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      &nbsp 
    <h3 class="subtitle">Countdown Timer</h3>
      <p>Yes, another clock! This time more a countdown timer than a clock. You can set the timer with different intervals of time from 20 seconds to one hour. Again, thanks to the JavaScript Date instance and a bit more complicated logic we were able to build this countdown timer.</p>
       &nbsp
      <p data-height="265" data-theme-id="0" data-slug-hash="aWWBBw" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Countdown clock" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/aWWBBw/">Countdown clock</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      &nbsp 
    <h3 class="subtitle">Canvas</h3>
      <p>Canvas is an HTML element used to draw graphics on the fly using JavaScript.</p>
      &nbsp
      <p data-height="265" data-theme-id="0" data-slug-hash="ybbVNy" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Canvas" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/ybbVNy/">Canvas</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        &nbsp 
    <h3 class="subtitle">Unreal Webcam</h3>
      <p>This time we played again with canvas and the navigator object which contains information about the browser. In this case we use it to access the user's cammera.</p>
      &nbsp
      <p data-height="265" data-theme-id="0" data-slug-hash="RVVoaB" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Unreal Webcam Fun" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/RVVoaB/">Unreal Webcam</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
      &nbsp
    <p>These are some of the exercises of JavaScript 30 code challenge. If you’re interested in the challenge follow <a href="https://javascript30.com/">this link.</a></p>
    </p>
   
  </div>
</div>
