<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-2by1">
      <img src="/images/home-page.png" alt="">
    </figure>
  </div>
  <div class="column">
    <h3 class="title">My Website</h3>
    <h3><span style="font-weight: bold">Client:</span>Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span>Harp, Bulma, Sass, gulp, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span>About 2 weeks</h3>
    <h3><a href="https://github.com/Fa-v/fabiolavieyra.com" target="_blank">GitHub repository</a></h3>
  </div>

  <div class="column is-8 is-offset-4">
    <p style="font-size: 1rem">
      I used <a href="https://harpjs.com" target="_blank">Harp </a>to build this site and
      <a href="http://bulma.io/" target="_blank">Bulma </a>to style it. I'm working to move it either to Gatsby js or to Next js.
    </p>
    &nbsp
    <p><span style="font-weight: bold">TODO:</span></p>
      <p>Move all the data to it's own file.</p>
      <p>Change Bulma for Grid, flexbox and CSS custom properties.</p>
      <p>Add a basic contact form.</p>
    <a href="/"><button class="button button is-info is-outlined">Home</button></a>
    <a href="/projects"><button class="button button is-info is-outlined">Projects</button></a>
  </div>
</div>