<div class="columns is-multiline">
  <div class="column is-6">
    <p data-height="265" data-theme-id="0" data-slug-hash="VPeKEM" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Film Database" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/VPeKEM/">Film Database</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>

  <div class="column">
    <h3 class="title">Film Database</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> JQuery, HTML, CSS</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> One week</h3>
    <p><a href="https://github.com/Fa-v/cine" target="blank">GitHub repository</a></p>
    <p>Go to my project in <a href="http://codepen.io/Fa-v/pen/WxxPWP" target="blank">CodePen</a></p>
    &nbsp
    <p>This project was an assignment for the MEAN stack developer course. We had a week to work on it. The main purpose of this exercise was to practise basic CRUD operations locally, where you could add, modify and delete a film. After this, we connected the interface with the Json server to practise ajax calls, <a href="https://github.com/Fa-v/food-movies">here is a link to the code</a>. Finally we built a mean stack project with Angular 2, a Mongo DB database, in this case I used MongoLab and an Express server. <a href="https://github.com/Fa-v/cine-angular2">Follow this link if you'd like to see the code.</a></p>

    <a href="/"><button class="button button is-info is-outlined">Home</button></a>
    <a href="/projects"><button class="button button is-info is-outlined">Projects</button></a>
  </div>
</div>