<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-2by1">
      <img src="/images/linda-website.png" alt="Stage">
    </figure>
  </div>
  <div class="column">
    <h3 class="title">Linda Website</h3>
    <h3><span style="font-weight: bold">Client:</span>Linda Delgado</h3>
    <h3><span style="font-weight: bold">Made With:</span>Harp, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span>About 2 weeks</h3>
    <h3><a href="http://lindadelgado.com/" target="blank">Linda Website</a></h3>
    <h3><a href="https://github.com/Fa-v/lindadelgado" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-8 is-offset-4">
    <p>I build this site for Linda who is an actriz. It's build with <a href="http://harpjs.com/">Harp</a> and <a href="http://materializecss.com/">Materialize</a> for the styles.</p>

    <a href="/"><button class="button button is-info is-outlined">Home</button></a>
    <a href="/projects"><button class="button button is-info is-outlined">Projects</button></a>
  </div>
</div>