<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-2by1">
      <img src="/images/nanodegree-projects/memory-game.png" alt="Memory game">
    </figure>
  </div>
  <div class="column">
    <h3 class="title">Memory Game</h3>
    <h3><span style="font-weight: bold">Client:</span>Udacity Project</h3>
    <h3><span style="font-weight: bold">Made With:</span>JQuery, flexbox, Sass, gulp, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About 2 weeks</h3>
    <h3><a href="https://fa-v.github.io/memory-game/" target="blank">Demo</a></h3>
    <h3><a href="https://github.com/Fa-v/memory-game" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-8 is-offset-4">
    <p>This is the second project of the intermediate JavaScript section for Udacity's front-end web development nanodegree. The main goal was to learn about DOM manipulation using JQuery.</p>
    &nbsp
    <p>It's a card matching game where you have to click on the cards to find every matching pair. You win once you've matched all 8 pairs.</p>
    &nbsp
    <p>Cards are assigned randomly each time you play thanks to the <a href="https://bost.ocks.org/mike/shuffle/">Fisher-Yates shuffle algorithm</a> which makes it possible to efficiently shuffle the cards within the same array and take care of possible repeted elements. The icons are from <a href="https://fontawesome.com/">Font Awesome</a> and I used <a href="https://flatuicolors.com/">Flat UI Colors</a> to chose my color palette.</p>
    &nbsp
    <p>I used Sass for styling this project. Thanks to gulp I was able to compile the Sass code into CSS and to watch for changes in all my files.</p>

    <a href="/"><button class="button button is-info is-outlined">Home</button></a>
    <a href="/projects"><button class="button button is-info is-outlined">Projects</button></a>
  </div>
</div>