<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="/images/free-code-camp/pomodoro-clock.png" alt="pomodoro-clock">
    </figure>
  </div>
  <div class="column">
  <h3 class="title"> Pomodoro Clock </h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> React, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About 1 weeks</h3>
    <h3><a href="https://fa-v.github.io/react-pomodoro-clock/" target="blank">Pomodoro Clock</a></h3>
    <h3><a href="https://github.com/Fa-v/react-pomodoro-clock" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-12">
    <p>The Pomodoro Clock is the second of the advance front-end development projects for Free Code Camp. I decided to use React to build this project.</p>
    <p>The Pomodoro technique is a managment time method that can be used to help you to focus and work on one task for small periods of time, traditionally 25 minutes, followed by a 5-minute break.</p>
    <p></p>
  </div>
</div>