<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-2by1">
      <img src="/images/nanodegree-projects/portfolio.png" alt="Portfolio">
    </figure>
  </div>
  <div class="column">
    <h3 class="title">Portfolio</h3>
    <h3><span style="font-weight: bold">Client:</span>Udacity Project</h3>
    <h3><span style="font-weight: bold">Made With:</span>HTML5, Tachyons</h3>
    <h3><span style="font-weight: bold">Time in Development:</span>About 2 days</h3>
    <h3><a href="" target="blank">Portfolio</a></h3>
    <h3><a href="https://github.com/Fa-v/lindadelgado" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-8 is-offset-4">
    <p>This the first project for Udacity's front-end development nanodegree.
      The main goal was to make a portfolio where all our Udacity's projects will be displayed. <a href="http://tachyons.io/">Tachyons.io</a> was a real inspiration to learn and use CSS in a responsible and hopefully beautiful way.</p>

    <a href="/"><button class="button button is-info is-outlined">Home</button></a>
    <a href="/projects"><button class="button button is-info is-outlined">Projects</button></a>
  </div>
</div>