<div class="columns is-multiline">
  <div class="column is-6">
    <p data-height="265" data-theme-id="0" data-slug-hash="zBJQqA" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Random Quote Mchine" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/zBJQqA/">Random Quote Mchine</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <div class="column">
    <h3 class="title">Random Quote Machine</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> JQuery, HTML, CSS</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About three days</h3>
    <p>Go to my project in <a href="http://codepen.io/Fa-v/pen/JRoqJj" target="blank">CodePen</a></p>
    <p>The random quote machine is the first of the intermediate front-end development projects for Free Code Camp. The users stories to build this app are:
      <ul> 
        <li>User Story: I can click a button to show a new random quote.</li>
        <li>User Story: I can press a button to tweet out a quote.</li>
      </ul>
    </p>
  </div>
</div>