<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="/images/free-code-camp/react-calculator.png" alt="React calculator">
    </figure>
  </div>
  <div class="column">
  <h3 class="title">React Calculator</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> React, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About one week</h3>
    <h3><a href="https://fa-v.github.io/react-calculator/" target="blank">React Calculator</a></h3>
    <h3><a href="https://github.com/Fa-v/react-calculator" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-12">
    <p>The Calculator is the first of the advance front-end development projects for Free Code Camp. I decided to use React to build this project.</p>
    <p>I started to learn React while working on this project. I liked that getting started with it was easy because you work directly with JavaScript - React doesn't have many layers of abstraction. I used Create React App to bootstrap the app and published it on gh-pages.</p>
  </div>
</div>