<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-4by3">
      <img src="/images/free-code-camp/tic-tac-toe.png" alt="tic-tac-toe">
    </figure>
  </div>
  <div class="column">
  <h3 class="title"> Tic-tac-toe </h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> React, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About one week</h3>
    <h3><a href="https://fa-v.github.io/react-tic-tac-toe/" target="blank">Tic-tac-toe</a></h3>
    <h3><a href="https://github.com/Fa-v/react-tic-tac-toe" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-12">
    <p>Tic-tac-toe is the second of the advance front-end development projects for Free Code Camp. I decided to use React to build this project.</p>
    <p>Tic-tac-toe could be traced back to ancient Egypt - I didn't know this! I used to play it when I was a kid on paper, even tracing the grid with my finger on the windows on rainy days. It's a pretty simple game where you need to make a line -vertical, horizontal or diagonal- to win.</p>
  </div>
</div>