<div class="columns is-multiline">
  <div class="column is-6">
    <p data-height="265" data-theme-id="0" data-slug-hash="WxxPWP" data-default-tab="html,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Tribute Page - Israel Galván" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/WxxPWP/">Tribute Page - Israel Galván</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <div class="column">
  <h3 class="title">Tribute Page</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> HTML, CSS</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About three days</h3>
    <p>Go to my project in <a href="http://codepen.io/Fa-v/pen/WxxPWP" target="blank">CodePen</a></p>   
    <p>The random quote machine is the first of the intermediate front-end development projects for Free Code Camp. The user stories to build this app are:
      <ul>
        <li>User Story: I can view a tribute page with an image and text.</li>
        <li>User Story: I can click on a link that will take me to an external website with further information on the topic.</li>
      </ul>
    </p> 
  </div>
</div>