<div class="columns is-multiline">
  <div class="column is-4">
    <figure class="image is-16by9">
      <img class="projects" src="/images/free-code-camp/weather-app.png" alt="weather_app">
    </figure>
  </div>
  <div class="column">
  <h3 class="title"> Weather app </h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> Angular2, Materialize, Github Pages</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About 2 weeks</h3>
    <h3><a href="https://fa-v.github.io/weather-app/" target="blank">Weather app</a></h3>
    <h3><a href="https://github.com/Fa-v/weather-app" target="blank">GitHub repository</a></h3>
  </div>

  <div class="column is-12">
    <p>The weather app is the second of the intermediate front-end development projects for Free Code Camp. I made this project on Codepen using JQuery in the summer 2016, which is broken now because browsers require HTTP secure connection to obtain user's geolocation - you can't serve pages with cross-origin resource sharing (CORS) conflicts. I decided to rebuild it instead as an Angular 2 app, so I could keep learning about Angular.</p>
    <br>
    <p>I decided to keep working with the OpenWeatherMap Api, but unfortunatly they don't provide secure http services for free accounts like mine. So, you can access the app after allowing geolocation on your browser and enabling the "not secure connection" option. This is, of course, something I need to work on:</p>
  </div>
  <div class="column is-4 is-offset-2">
  <figure class="image">
    <img class="projects" src="/images/free-code-camp/wa_1.png" alt="weather_app">
  </figure>
  </div>
  <div class="column is-4">
  <img class="projects" src="/images/free-code-camp/wa_2.png" alt="weather_app">
  </div>
  <br>
  <p>To publish my app I found that the command 'ng github-pages:deploy' I used a couple of months ago has been removed from the CLI as of 1.0.0-beta.31. Instead, I used <a href="https://github.com/angular-buch/angular-cli-ghpages">angular-cli-pages </a>which is a pretty straightforward way to do this process.</p>
</div>