<div class="columns is-multiline">
  <div class="column is-6">
    <p data-height="265" data-theme-id="0" data-slug-hash="JRoqJj" data-default-tab="js,result" data-user="Fa-v" data-embed-version="2" data-pen-title="Wikipedia Viewer - FCC" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/JRoqJj/">Wikipedia Viewer - FCC</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
  </div>
  <div class="column">
  <h3 class="title">Wikipedia Viewer</h3>
    <h3><span style="font-weight: bold">Client:</span> Personal Project</h3>
    <h3><span style="font-weight: bold">Made With:</span> JQuery, HTML, CSS</h3>
    <h3><span style="font-weight: bold">Time in Development:</span> About three days</h3>
    <h3>Go to my project in <a href="http://codepen.io/Fa-v/pen/GrojxQ" target="blank">CodePen</a></h3>   
    <p>The Wikipedia viewer is the third of the intermediate front-end development projects for Free Code Camp. The user stories to build this app are:
      <ul>
        <li>User Story: I can search Wikipedia entries in a search box and see the resulting Wikipedia entries.</li>
        <li>User Story: I can click a button to see a random Wikipedia entry.</li>
      </ul>
    </p> 
  </div>
</div>