/*VARIABLES*/

/*colors*/
$darkGrey: #7a7a7a
$white: #fff
$red: #DD2C00

figcaption
  margin-top: 0.5em

img
  border-radius: 5px

img .projects
  border-radius: 5px
  border-color: rgb(219, 214, 214)
  border-style: solid
  border-width: 0.5px
  border-radius: 5px

a
  color: $red

.nav
  background-color: $white

a.nav-item.is-tab
  font-size: 1.25rem
  color: $darkGrey
  border-bottom: 2px solid transparent
  padding: 0 1rem 0.5rem 1rem

  &:hover
    color: $red
    border-bottom-color: $red
    padding: 0 1rem 0.5rem 1rem
  &.is-active
    border-bottom: 2px solid $red
    color: $red
    padding: 0 1rem 0.5rem 1rem

ul
  list-style-type: none

li
  float: none

li
  float: left

a li
  display: inline

#home-nav-item
  padding-left: 0
  padding-right: 0
  p
    font-weight: bold

.footer
  background-color: $white
  padding: 3rem 1.5rem

.social.icon
  margin: 10px 10px 1em 10px

.wrapper
    position: relative
    width: 100%
    border-color: $darkGrey
    border-style: solid
    border-width: 0.2px
    border-radius: 5px


.image
  opacity: 1
  display: block
  width: 100%
  height: auto
  transition: .5s ease
  backface-visibility: hidden
  border-radius: 5px

.middle
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100%
  width: 100%
  opacity: 0
  transition: .5s ease
  background-color: $white
  border-radius: 5px

.wrapper:hover .image
  opacity: 0.3

.wrapper:hover .middle
  opacity: 0.8


.text
  color: black
  font-size: 20px
  font-weight: bold
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)

.button.is-info.is-outlined
    background-color: transparent
    border-color: $red
    color: $red
    margin: 50px 5px 0 0

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined:focus
  background-color: $red
  border-color: $red
  color: $white
