<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-2">
        <figure class="image is-200x200">
          <img src="/images/fab1.jpg" alt="Fabiola Vieyra" class="image"/>
        </figure>
      </div>
      <div class="column is-10">
        <h1 class="title is-2">
          ¿Quién soy?
        </h1>
        &nbsp
        <h1 class="subtitle is-4">
          Me hago esta pregunta todos los días, no te preocupes no me pondré filosófica, esto es solo una pequeña biografía con intención
          de que conozcas un poco más a cerca de mi.
        </h1>
        <p>
          Nací en la Ciudad de México, la que alguna vez fue "la región más transparente", la que a pesar de vivir momentos difíciles
          sigue siendo hermosa.
        </p>
        &nbsp
        <p>
          Estudié la Licenciatura en Pedagogía de la Danza. Como profesora de danza he tenido la gran fortuna de trabajar en dos importantes
          instituciones en el ámbito educativo y cultural en México. Una es la
          <a href="http://dgenp.unam.mx/" target="_blank">Escuela Nacional Preparatoria</a> y la otra mi alma mater, la
          <a href="http://www.endngcampobello.bellasartes.gob.mx/nuestra-escuela.html" target="_blank">Escuela Nacional de Danza Nellie y Gloria Campobello</a>.
        </p>
      </div>
      <div class="column is-2">
        <figure class="image is-200x200">
          <img src="/images/fab5.jpg" alt="Fabiola Vieyra" class="image"/>
        </figure>
      </div>
      <div class="column is-10">
        <p>
          Al graduarme empecé a trabajar, con 19 años, como profesora de Educación Estética y Artística, en el área de danza, en la
          Escuela Nacional Preparatoria. Entonces mis alumnos eran un par de años más jóvenes que yo. Llegué a manejar
          un total de 300 alumnos, por fortuna no todos en la misma clase. Estoy muy orgullosa de los 13 años que pasé
          en este trabajo porque inculqué el amor a la danza en mis alumnos; la mayoría de ellos siguen bailando y algunos
          de ellos actualmente son profesionales en la danza en México.
        </p>
        &nbsp
        <p>
          Volver como profesora a la escuela donde estudié, fue una gran experiencia y una gran responsabilidad. Por un par de años
          tuve la oportunidad de participar en la formación de otros profesores de danza, de asesorarlos en sus primeras
          prácticas educativas y de explorar con ellos en el escenario y retar su creatividad.
        </p>
        &nbsp
        <p>
          Además de impartir clases frente a grupo, parte de mi labor docente en ambas instituciones, era participar en la revisión,
          elaboración y evaluación de planes y programas de estudio. También evaluar tanto de los alumnos en clase, como
          el desempeño de otros profesores, así como organizar y hacer los montajes coreográficos para las prácticas escénicas.
        </p>
      </div>
      <div class="column is-2">
        <figure class="image is-200x200">
          <img src="/images/fab2.jpg" alt="Fabiola Vieyra" class="image"/>
        </figure>
      </div>
      <div class="column is-10">
        <p>
          Vine a España en el año 2010 y desde entonces he impartido talleres diferentes tipos de danza en diferentes academias Madrid.
          En 2015 empecé a trabajar con <a href="http://www.helloenglishmadrid.com/" target="_blank">Hello! English </a>dando
          clases a niños a partir de los 3 años. El objetivo es iniciar a los pequeños en el idioma inglés a través del
          movimiento, la danza y los juegos. Las clases con niños tan pequeños son todos los días una aventura y debes
          estar preparado para resolver y sacar provecho de lo que en ese momento despierte su interés y lograr adaptarlo
          a las actividades programadas.
        </p>
        &nbsp
        <p>
          En 2013 inicié la colaboración con <a href="http://www.yes-mag.com/" target="_blank">Yes - Your English Supplement</a>,
          una publicación mensual para aprender inglés. Mis tareas consistían en mantener el contacto con los puntos de
          venta y gestionar las redes sociales. Poco a poco empecé a aprender acerca de las tecnologías digitales.
        </p>
        &nbsp
        <p>
          Free Code Camp fue mi entrada a la programación y ha despertado en mí una gran curiosidad y deseo de convertirme en programadora.
        </p>
        &nbsp
        <p>
          En este momento parece que mi camino se bifurca pero estoy segura de que encontraré un punto de encuentro entre esta nueva
          pasión que es la programación y mi amor por la enseñanza y la danza.
        </p>
      </div>
    </div>
  </div>
</section>