<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-2">
        <figure class="image is-200x200">
          <img src="/images/fab1.jpg" alt="Fabiola Vieyra" class="image"/>
        </figure>
      </div>
      <div class="column is-10">
        <p>
          Nací en la Ciudad de México, estudié la Licenciatura en Pedagogía de la Danza. Como profesora de danza he tenido la gran fortuna de trabajar en dos importantes
          instituciones en el ámbito educativo y cultural en México. Una es la
          <a href="http://dgenp.unam.mx/" target="_blank">Escuela Nacional Preparatoria</a> y la otra mi alma mater, la
          <a href="http://www.endngcampobello.bellasartes.gob.mx/nuestra-escuela.html" target="_blank">Escuela Nacional de Danza Nellie y Gloria Campobello</a>.
        </p>
        &nbsp
        <p>
          Además de impartir clases frente a grupo, parte de mi labor docente en ambas instituciones, era participar en la revisión, elaboración y evaluación de planes y programas de estudio. También realizar evaluaciones del desempeño de otros profesores.
        </p>
        &nbsp
        <p>
          Vine a España en el año 2010, desde entonces he impartido talleres diferentes tipos de danza en diferentes academias en Madrid. En 2015 empecé a trabajar con Hello! English dando clases a niños a partir de los 3 años. El objetivo es promover el bilingüismo a través de la danza y la inmersión lingüística. Las clases con niños tan pequeños son todos los días una aventura. Además de preparar material para todas las clases, debes estar preparado para resolver y sacar provecho de lo que en ese momento despierte el interés de los niños.
        </p>
        &nbsp
        <p>
          En 2013 inicié la colaboración con Yes - Your English Supplement, una publicación mensual para aprender inglés. Mis tareas consistían en mantener el contacto con los puntos de venta y gestionar las redes sociales. Gracias a esto me acerqué de las tecnologías digitales.
        </p>
        &nbsp
        <p>
          Free Code Camp fue mi entrada a la programación despertó en mí una gran curiosidad y deseo de convertirme en programadora. Terminé el currículum de front-end develpment en el verano de 2017. Poco después tuve la gran fortuna de recibir una beca de Women Techmakers para cursar el Fron-end Web Development Nanodegree en Udacity. Cursar este Nanodegree me ha dado la oportunidad de profundizar mis conocimientos.
        </p>
        &nbsp
        <p>
          Mi objetivo es trabajar como desarrolladora front end y en unos años llegar ser desarrolladora full stack. Me interesa especialmente la accesibilidad porque creo que todos debemos tener la misma oportunidades. Lo más importante es que quiero construir cosas de las que me sienta orgullosa.
        </p>
      </div>
    </div>
  </div>
</section>