<section class="section">
<div class="container">
<div class="columns">
<div class="column is-2">
<figure class="image is-256x256">
<img src="/images/fab4.jpg" alt="Fabiola Vieyra" class="image"/>
<figcaption>
¡Peinada para la foto!
</figcaption>
</figure>
</div>
<div class="column is-10">
<h1 class="title is-2">
¡Bienvenidos a mi pequeño espacio en internet!
</h1>
&nbsp
<h1 class="subtitle is-4">
Mi nombre es Fabiola Vieyra, profesora por vocación, bailarina por deseo y programadora por desición.<br/> Me
gusta ser rigurosa con mi trabajo y superarme cada día.
</h1>
&nbsp
<p>Como programadora, soy autodidacta. Creo firmemente que la mejor habilidad que cualquier persona puede desarrollar
en la vida es aprender a aprender. Actualmente sigo el currículum de <span><a href="https://www.freecodecamp.com/fa-v" target="_blank">Free Code Camp </a></span>e
intento aprender todo lo que puedo sobre JavaScript.
</p>
&nbsp
<p>Mi objetivo es convertirme en una desarrolladora full stack para poder trabajar con seguridad tanto del lado del
cliente como del servidor. Me gustan los retos.
</p>
&nbsp
<p>
Actualmente trabajo como profesora de inglés y brindo apoyo escolar en esta materia, a niños entre 7 y 14 años.
</p>
&nbsp
<p>Mis obsesiones actuales son JavaScript, Mongo DB y Angular 2.</p>
&nbsp
<p>
En mi tiempo libre me gusta disfrutar de una buena cerveza con mi pareja, una buena charla con mis amigos y desde luego bailar
un buen son.
</p>
&nbsp
<p>
Puedes averiguar más sobre mi <span><a href="/about">aquí </a></span>y ver algunos de mis
proyectos
<span><a href="/projects">aquí</a></span>
</p>
</div>
</div>
</div>
</section>