<section class="section">
  <div class="container">
    <div class="column is-half is-offset-2">
      <h1 class="title is-2">
        Fabiola Vieyra
      </h1>
      <h2 class="subtitle is-4">
        Front-end Web Developer
      </h2>
        <p>Autodidacta, apasionada de JavaScript y del desarrollo de interfaces diseñadas para hacer más sencilla la vida las personas. Recién graduada del Front-end Web Development nanodegree de Udacity, busco poner en práctica todo lo que he aprendido para crear aplicaciones funcionales y accesibles al mayor número de personas posibles.
        </p>
    </div>
  </div>
</section>
