<div class="columns is-multiline">
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/home-page.png" alt="">
      </figure>
      <a href="/blog/fabiola-website"><div class="middle">
        <div class="text">
          <p>My website</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/nanodegree-projects/neighborhood-map.png" alt="Neigborhood Map">
      </figure>
      <a href="/blog/neighborhood-map"><div class="middle">
        <div class="text">
          <p>Neighborhood Map</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/nanodegree-projects/arcade-game.png" alt="Arcade Game">
      </figure>
      <a href="/blog/arcade-game"><div class="middle">
        <div class="text">
          <p>Arcade Game</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/nanodegree-projects/memory-game.png" alt="Memory Game">
      </figure>
      <a href="/blog/memory-game"><div class="middle">
        <div class="text">
          <p>Memory Game</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/nanodegree-projects/portfolio.png" alt="portfolio">
      </figure>
      <a href="/blog/portfolio"><div class="middle">
        <div class="text">
          <p>Portfolio</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/linda-website.png" alt="Linda's website">
      </figure>
      <a href="/blog/linda-website"><div class="middle">
        <div class="text">
          <p>Linda Delgado</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/simon-game.png" alt="Simon game">
      </figure>
      <a href="/blog/simon-game"><div class="middle">
        <div class="text">
          <p>Simon Game</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/tic-tac-toe.png" alt="Tic-tac-toe">
      </figure>
      <a href="/blog/tic-tac-toe"><div class="middle">
        <div class="text">
          <p>React Tic tac toe</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/pomodoro-clock.png" alt="pomodoro-clock">
      </figure>
      <a href="/blog/pomodoro-clock"><div class="middle">
        <div class="text">
          <p>Pomodoro Clock</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/react-calculator.png" alt="calculator">
      </figure>
      <a href="/blog/react-calculator"><div class="middle">
        <div class="text">
          <p>React Calculator</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/twitchtv_app.png" alt="twitchtv_app">
      </figure>
      <a href="/blog/twitchtv-app"><div class="middle">
        <div class="text">
          <p>Twitchtv App</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-3">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/film_database.png" alt="film_database">
      </figure>
      <a href="/blog/film-database"><div class="middle">
        <div class="text">
          <p>Film Database</p>
        </div>
      </div></a>
    </div>
  </div>
</div>