<div class="columns is-multiline">
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/simonGame.png" alt="Simon Game">
      </figure>
      <a href="/blog/simonGame"><div class="middle">
        <div class="text">
          <p>Simon Game</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/tic-tac-toe.png" alt="Tic-tac-toe">
      </figure>
      <a href="/blog/tic-tac-toe"><div class="middle">
        <div class="text">
          <p>React Tic tac toe</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/pomodoro-clock.png" alt="pomodoro-clock">
      </figure>
      <a href="/blog/pomodoro-clock"><div class="middle">
        <div class="text">
          <p>Pomodoro Clock</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/react-calculator.png" alt="calculator">
      </figure>
      <a href="/blog/react-calculator"><div class="middle">
        <div class="text">
          <p>React Calculator</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/weather-app.png" alt="weather_app">
      </figure>
      <a href="/blog/weather-app"><div class="middle">
        <div class="text">
          <p>Weather App</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/twitchtv_app.png" alt="twitchtv_app">
      </figure>
      <a href="/blog/twitchtv-app"><div class="middle">
        <div class="text">
          <p>Twitchtv App</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-12">
    <div class="wrapper">
      <figure class="image is-16by9">
        <img src="/images/javascript30/javascript30.png" alt="javascript30">
      </figure>
      <a href="/blog/30-Day-JavaScript-Challenge"><div class="middle">
        <div class="text">
          <p>30-Day Vanilla JavaScript Challenge</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/calculator.png" alt="calculator">
      </figure>
      <a href="/blog/calculator"><div class="middle">
        <div class="text">
          <p>Calculator</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/film_database.png" alt="film_database">
      </figure> 
      <a href="/blog/film-database"><div class="middle">
        <div class="text">
          <p>Film Database</p>
        </div>
      </div></a>
    </div>   
  </div>
  <div class="column is-half">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/wikipedia_viewer.png" alt="wikipedia_viewer">
      </figure>
      <a href="/blog/wikipedia-viewer"><div class="middle">
        <div class="text">
          <p>Wikipwdia Viewer</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/random_quote_machine.png" alt="random_quote_machine">
      </figure>
      <a href="/blog/random-quote-machine"><div class="middle">
        <div class="text">
          <p>Randome Quote Machine</p>
        </div>
      </div></a>
    </div>
  </div>
  <div class="column is-12">
    <div class="wrapper">
      <figure class="image is-2by1">
        <img src="/images/free-code-camp/tribute_page.png" alt="tribute_page">
      </figure> 
      <a href="/blog/tribute-page"><div class="middle">
        <div class="text">
          <p>Tribute Page</p>
        </div>
      </div></a>    
    </div>
  </div>
</div>