<div class="columns is-multiline">

  <div class="column is-12">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="/images/twitchtv_app.png" alt="twitchtv_app">
        </figure>
      </div>   
    </div>
  </div>

  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="/images/calculator.png" alt="calculator">
        </figure>
      </div>
      
    </div>
  </div>

  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="/images/film_database.png" alt="film_database">
        </figure>
      </div>
      
    </div>
  </div>

  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="/images/random_quote_machine.png" alt="random_quote_machine">
        </figure>
      </div>
      
    </div>
  </div>

  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="/images/wikipwdia_viewer.png" alt="wikipwdia_viewer">
        </figure>
      </div>  
    </div>
  </div>

  <div class="column is-12">
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img src="/images/tribute_page.png" alt="tribute_page">
        </figure>
      </div>
      
    </div>
  </div>

</div>
