<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <figure class="image is-256x256">
          <img src="/images/fab1.jpg" alt="Fabiola Vieyra" class="image"/>
          <figcaption>
            <ul style="list-style-type:none">
              <li>HTML5 / CSS3</li>
              <li>Bulma</li>
              <li>Bootstrap</li>
              <li>Typescript</li>
              <li>Angular2</li>
              <li>JQuery</li>
              <li>Node(Express)</li>
              <li>Socket io</li>
              <li>Mongo DB</li>
              <li>Angular 2</li>
              <li>React</li>
              <li>Nuxt</li>
            </ul>  
          </figcaption>
        </figure>
      </div>
      <div class="column is-5">
        <p data-height="360" data-theme-id="0" data-slug-hash="LkoQrq" data-default-tab="result" data-user="Fa-v" data-embed-version="2"
          data-pen-title="Show the Local Weather" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/LkoQrq/">Show the Local Weather</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>)
          on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
          <p>Esta aplicación para mostrar el clima usa el API de OpenWeatherMap los datos del clima a mostrar. La capa de
            la vista está construída con JQuery. Uso la fuente Monserrat de google fonts creada por Julieta Ulanovsky</p>
      </div>
      <div class="column is-5">
        <p data-height="360" data-theme-id="0" data-slug-hash="JRoqJj" data-default-tab="result" data-user="Fa-v" data-embed-version="2"
          data-pen-title="Wikipedia Viewer - FCC" class="codepen">See the Pen <a href="https://codepen.io/Fa-v/pen/JRoqJj/">Wikipedia Viewer - FCC</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>)
          on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
          <p>Ejercicio para Free Code Camp. Usa el API de Wikipedia, el objetivo es hacer una búsqueda y ver las entradas
            de Wikipedia relacionadas.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-5">
        <p data-height="360" data-theme-id="0" data-slug-hash="GrojxQ" data-default-tab="result" data-user="Fa-v" data-embed-version="2"
          data-pen-title="Calculator" class="codepen">See the Pen <a href="http://codepen.io/Fa-v/pen/GrojxQ/">Calculator</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>)
          on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
          <p>Ejercicio del curso de Mean Stack. El objetivo fue construir una calculadora con funcionalidad básica usando
            JavaScript.
          </p>
      </div>
      <div class="column is-5">
        <p data-height="360" data-theme-id="0" data-slug-hash="VPeKEM" data-default-tab="result" data-user="Fa-v" data-embed-version="2"
          data-pen-title="Film Database" class="codepen">See the Pen <a href="http://codepen.io/Fa-v/pen/VPeKEM/">Film Database</a> by Fabiola Vieyra (<a href="http://codepen.io/Fa-v">@Fa-v</a>)
          on <a href="http://codepen.io">CodePen</a>.</p>
          <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
          <p>Ejercicio del curso de Mean Stack. El objetivo fue practicar las operaciones CRUD en local, usando JavaScript,
            Jquery y Bootstrap A este ejercicio conectamos posteriormente un servidor Express y base de datos de Mongo.
            Pudes ver el código de este ejercicio en mi página de <a href="https://github.com/Fa-v/food-movies">Github</a>.</p>
      </div>
    </div>
  </div>
</section>