<!--<div class="article-header">
  <h1 class="article-title"><%- title %></h1>
  <% if(typeof tagline != "undefined") { %>
  <p class="article-tagline"><%- tagline %></p>
  <% } %>
  <% if(typeof tags != "undefined" && tags) { %>
    <%- partial("../_partials/_articleTags") %>
  <% } %>
</div>-->
<section class="article-content-section">
  <article class="article-content-body">
    <%- yield %>
  </article>
  </section>