<div class="footer">
  <div class="container">
    <hr>
    <div class="content has-text-centered">
      <div>
        <a href="https://github.com/Fa-v" target="_blank"><span class="icon is-medium social"><i class="fa fa-github"></i></span></a>
        <a href="https://codepen.io/Fa-v/pens/public/" target="_blank"><span class="icon is-medium social"><i class="fa fa-codepen"></i></span></a>
        <a href="https://www.freecodecamp.com/fa-v" target="_blank"><span class="icon is-medium social"><i class="fa fa-free-code-camp"></i></span></a><a
          href="https://es.linkedin.com/in/fabiolavieyra" target="_blank"><span class="icon is-medium social"><i class="fa fa-linkedin-square"></i></span></a>
      </div>
      <p>
      CONTACT
      </p>
      <p>fabiolacvieyra@gmail.com</p>
      <p>+34 672086745</p>
    </div>
  </div>
</div>