<div class="footer">
  <div class="container">
    <hr>
    <div class="content has-text-centered">
      <div>
        <a href="https://github.com/Fa-v" target="_blank"><span class="icon is-medium" id="social"><i class="fa fa-github"></i></span></a>
        <a href="https://codepen.io/Fa-v/pens/public/" target="_blank"><span class="icon is-medium" id="social"><i class="fa fa-codepen"></i></span></a>
        <a href="https://www.freecodecamp.com/fa-v" target="_blank"><span class="icon is-medium" id="social"><i class="fa fa-free-code-camp"></i></span></a><a
          href="https://es.linkedin.com/in/fabiolavieyra" target="_blank"><span class="icon is-medium" id="social"><i class="fa fa-linkedin-square"></i></span></a>
      </div>
      <p style="font-size: 1rem">
        Usé <a href="https://harpjs.com" target="_blank">Harp </a>para la estructura de este sitio y
        <a href="http://bulma.io/" target="_blank">Bulma </a>para los estilos
      </p>
      <p style="font-size: 1rem">Creado con mucho <span class="icon"><i class="fa fa-heart"></i></span> en enero de 2017</p>
    </div>
  </div>
</div>