<section class="hero is-medium">
  <div class="hero-foot">
    <header class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-tab <%- current.source == 'index' ? 'is-active' : '' %>" href="/">
            <p style="font-size: 25px">Fabiola Vieyra</p>
          </a>
          <a class="nav-item is-tab <%- current.source == 'about' ? 'is-active' : '' %>" href="/about">
            About
          </a>
          <a class="nav-item is-tab <%- current.source == 'cv' ? 'is-active' : '' %>" href="/cv">
            CV
          </a>
          <a class="nav-item is-tab <%- current.source == 'projects' ? 'is-active' : '' %>" href="/projects">
            Projects
          </a>
        </div>
      </div>
    </header>
  </div>
</section>
